.container-keyword{
    height: 800px;
    
    background-color: #04c3c9;
    color : white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.keyword{
    font-size : 3em;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    
}
#keyword-search{

    outline: 0;
    background-color: #04c3c9;
    color: white;
    border-top: none;
    border-left: none;
    border-right:none;
    border-color: white;
    width:40%
}