.container-keyword{
    height: 800px;
    
    background-color: #04c3c9;
    color : white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.keyword{
    font-size : 3em;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    
}
#keyword-search{

    outline: 0;
    background-color: #04c3c9;
    color: white;
    border-top: none;
    border-left: none;
    border-right:none;
    border-color: white;
    width:40%
}



.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}