.container-guess{
    height: inherit;
    background-color: #04c3c9;
    color : white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.guess{
    font-size : 3em;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    
}
#guess{
    outline: 0;
    background-color: #04c3c9;
    color: white;
    border-top: none;
    border-left: none;
    border-right:none;
    border-color: white;
}

#score{
    color:white;
    position: absolute;
    top: -10px;
    right: 10px;
}

#response{
    top: -10px;
    left: 45%;
    right: 45%;
    text-align: center;
    margin-bottom: 10%;
    visibility: hidden;
}

#timer{
    font-size: 3.5em;
    margin-top: 15%;
    visibility: hidden;
    color: white;
    text-align:center;
}

#skip{
    visibility: hidden;
}