@font-face{
    src: url(fonts/Raleway-Regular.ttf);
    font-family: Raleway;
}

@font-face{
    src: url(fonts/Raleway-SemiBold.ttf);
    font-family: RalewaySB;
}

*{
    font-family: "RalewaySB"
}

html {
    background-color : #04c3c9
  }
  
h1{
    color: white;
    text-align: center;
    font-size: 4em;
  }
h2{
    color: white;
    text-align: center;
    font-size: 3em;
  }

.container {
    border:10px;
    background-color: #04c3c9;
    color : white;


    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.button {
    color: #04c3c9;
    background-color: white;
    font-size: 3em;
    border : none;
    border-radius: 0.15em;
}

.container-keyword{
    height: 800px;
    
    background-color: #04c3c9;
    color : white;
    display: flex;
    align-items: center;
    justify-content: center;


}

.keyword{
    font-size : 3em;
    align-items: center;
    margin: 10px;
}
#keyword-search{

    outline: 0;
    background-color: #04c3c9;
    color: white;
    border-top: none;
    border-left: none;
    border-right:none;
    border-color: white;
}

/* #keyword-label {
    font-size: 1.75em;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
} */
