@font-face{
    src: url(fonts/Raleway-Regular.ttf);
    font-family: Raleway;
}

@font-face{
    src: url(fonts/Raleway-SemiBold.ttf);
    font-family: RalewaySB;
}

*{
    font-family: "RalewaySB"
}

html {
    background-color : #04c3c9
  }
  
h1{
    color: white;
    text-align: center;
    font-size: 4em;
  }
h2{
    color: white;
    text-align: center;
    font-size: 3em;
  }

.container {
    border:10px;
    background-color: #04c3c9;
    color : white;


    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.button {
    color: #04c3c9;
    background-color: white;
    font-size: 3em;
    border : none;
    border-radius: 0.15em;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

